.projects {
  &__wrapper {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;

    &[data-active="true"] {
      opacity: 1;
      min-height: 300px;
      animation: fadeIn 0.3s;
    }

    > h2 {
      display: flex;
      align-items: center;

      &::after {
        content: ""attr(data-status);
        margin-left: 15px;
        font-size: 1rem;
        color: #a0a0a0;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
    }

    > a {
      margin-right: auto;
      color: #4183d7;
      opacity: 1;
      transition: opacity 0.1s ease-in-out;

      &:hover { opacity: 0.7; }

      > p {
        &::before {
          content: ">";
          margin: 0 5px;
        }
      }

    }
  }

  &__cards {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    > a {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0.9;

      > img {
        width: 50px;
        height: 50px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
